<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
<h1>活动列表:</h1>
<ul>
    <li><a href="/201610Turntable/Show.html">乐赢大转盘</a></li>
    <li><a href="/201611RedPocket/TheFirstWeek.html">十一月红活动第一周</a></li>
    <li><a href="/201611RedPocket/TheSecondWeek.html">十一月红活动第二周</a></li>
    <li><a href="/201611RedPocket/TheThirdWeek.html">十一月红活动第三周</a></li>
</ul>
</body>
</html>
