<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <h1>活动列表:</h1>
    <ul>
        <li><a href="/201611RedPocket/TheFirstWeek.html">十一月红活动第二周</a></li>
    </ul>
  </body>
</html>
